/* 
 Table Exercise 
 ==============
  
 Palette: 
 --------

 #b22222 
 #ddd 
 #222
 */

.flex-container { 
    min-height: 600px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.time { 
    text-align: left; 
    padding-left: 25px; 
}

.temp, .humid { 
    text-align: right; 
    padding-right: 25px; 
}

tbody tr { 
    border-bottom: 1px solid #ccc; 
}    

table * { 
    font-family: sans-serif; 
}

table { 
    width: 700px; 
    box-shadow: 0 20px 16px 0px rgba(133, 133, 136, 0.2);
    border-spacing: 0px; 
    border-collapse: collapse; 
}

th, td { 
    width: 33.333333333333333%; 
}

tr { 
    height: 70px; 
}

th {    
    font-size: 20px; 
    font-weight: lighter; 
}

td { 
    font-size: 20px; 
}

caption { 
    text-align: left; 
    font-size: 40px;
    color: #b22222;
}

thead {
    background-color: #b22222; 
    color: white; 
}

tbody .time { 
    background-color: #ddd; 
    color: #333; 
}